{% extends 'layout/back-office.html.twig' %}

{% block title %}Edit Allergen{% endblock %}

{% block body %}
    <h1>Edit Allergen</h1>

    {{ include('allergen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('allergen_index') }}">back to list</a>

    {{ include('allergen/_delete_form.html.twig') }}
{% endblock %}
