{% extends 'layout/back-office.html.twig' %}

{% block title %}New Allergen{% endblock %}

{% block body %}
    <h1>Create new Allergen</h1>

    {{ include('allergen/_form.html.twig') }}

    <a href="{{ path('allergen_index') }}">back to list</a>
{% endblock %}
