{% extends 'layout/back-office.html.twig' %}

{% block title %}Gestion du Back-office{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="backOffice">
    <a href="../user">
        Gérer les utilisateurs
    </a><br>

    <a href="../dish">
        Gérer les plats
    </a><br>

    <a href="../allergen">
        Gérer les allergens
    </a><br>

    <a href="../category">
        Gérer les  catégories
    </a><br>

</div>
{% endblock %}
