{% extends 'layout/front-office.html.twig' %}
{% block title %}
    <title>Carte</title>
{% endblock %}
{% block body %}
    <h1> Carte </h1>

    {% for categorie in categories %}
        <h2> Categorie : {{ categorie.name }}</h2>
        {% for platKey,platValue in nbPlats %}
            {% if platKey == categorie.id %}
                <p> Nombre de plat pour cette categorie :</p> {{ platValue }}
                <a href="/category/{{ platKey }}"> Détails</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock body %}