{% extends 'layout/front-office.html.twig' %}
{% block title %}
    <title>Categories</title>
{% endblock %}
{% block body %}
    <h2> Nom :</h2> {{ details.name }}

    <h2> Plats</h2>
    {% for plat in plats %}
        <img src="{{ plat.umage }}"><br>
        Nom :{{ plat.name }}<br>
        Calories : {{ plat.calories }} <br>
        Prix : {{ plat.price }} € <br>
        Description :{{ plat.description }} <br>
        <p>---------------------------------------------</p>
    {% endfor %}
{% endblock body %}