{% extends 'layout/front-office.html.twig' %}
{% block title %}
    <title>Page d'accueil</title>
{% endblock %}
{% block body %}
    <h1> Bienvenue sur notre page ! </h1>
    <a href="/equipe"> Notre équipe</a>

    <br><br>

    {{ render(controller('App\\Controller\\BlockController::dayDishesAction',
        { 'max': 3 })) }}

    <br><br>
{% endblock %}