<h3> Une nouvelle commande est arrivée !! </h3>

<table>
    <thead>
        <tr>
            <th> Plats </th>
            <th> Table </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {% for plat in plats %}
                    <p> {{ plat }} </p>
                {% endfor %}
            </td>
            <td>
                {{ table }}
            </td>
        </tr>
    </tbody>
</table>
