{% extends 'layout/back-office.html.twig' %}

{% block title %}Edit Dish{% endblock %}

{% block body %}
    <h1>Edit Dish</h1>

    {{ include('dish/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dish_index') }}">back to list</a>

    {{ include('dish/_delete_form.html.twig') }}
{% endblock %}
