{% extends 'layout/back-office.html.twig' %}

{% block title %}Dish index{% endblock %}

{% block body %}
    <h1>Dish index</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Calories</th>
                <th>Price</th>
                <th>Umage</th>
                <th>Description</th>
                <th>Sticky</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.id }}</td>
                <td>{{ dish.name }}</td>
                <td>{{ dish.calories }}</td>
                <td>{{ dish.price }}</td>
                <td><img src="{{ dish.umage }}"></td>
                <td>{{ dish.description }}</td>
                <td>{{ dish.sticky ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('dish_show', {'id': dish.id}) }}">show</a>
                    <a href="{{ path('dish_edit', {'id': dish.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dish_new') }}">Create new</a>
{% endblock %}
