{% extends 'layout/back-office.html.twig' %}

{% block title %}New Dish{% endblock %}

{% block body %}
    <h1>Create new Dish</h1>

    {{ include('dish/_form.html.twig') }}

    <a href="{{ path('dish_index') }}">back to list</a>
{% endblock %}
