<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="../../public/css/style.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="../../public/scripts/script.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<main>
    <header>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </footer>
</main>
</body>
</html>