{% extends 'layout/front-office.html.twig' %}
{% block title %}
    <title>Equipe</title>
{% endblock %}
{% block body %}
    <h1> L'equipe du jour</h1>
    <ul>
        {% for user in users %}
            <li> {{ user }}</li>
        {% endfor %}
    </ul>
{% endblock %}